/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.input-text{
    color:black;
    outline: none;
     border: none;
  }
  .search_box {
    display: flex;
    flex-direction: row;
    margin: auto;
    background: white;
    font-family: -webkit-body;
    border-radius: 2px;
    height: 34px;
    width: 429px;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 9px;
    margin-left: 32px;
}
.bookstore {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 83px;
}
.bookstoretext {
  color: antiquewhite;
  margin-left: 5px;
  font-size: larger;
}
.whishlistbtn{
  border-radius: 0px;
}
.carttext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 74px;
}
.bookcard {
   margin-inline-start: 11px;
  margin-block-start: 50px;
  background-Color: "#eeeeef";
  margin-top: 16px;
  width: 248px;
  height: 279px;
  margin-left: 20px;
}
  #dashboard-appbar {
   width: 100%;
}
#bottomappbar {
  background-Color: "black";
  height: "36px";
  height: 48px;
  margin-top: 102px;
  width: 103%;
  margin-left: -29px;
}
  .cardstyle{
    margin-block-start: 20px;
  }
  .card4 {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 25px;
    margin-left: 49px;
}
  // .toolbar{
  //     display: flex;
  //     justify-content: space-between;
  // }
  .appbar2 {
    display: flex;
    margin: auto;
    margin-block-start: 22px;
}
  .image{
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-block-start: 48px;
  }
  .bookdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: -35px;
  }
  #bookicon1{
    font-size: xx-large;
  }
  .carddown {
    width: 252px;
    height: 136px;
}
  #cardtext{
    margin-top: -16px;
    margin-left: 21px;
    display: flex;
    flex-direction: column
  }
  .authorname{
    margin-top: -19px;
    font-size: small;
  }
  .price{
    margin-top: -7px;
  }
  .button{
    margin-top: -145px;
    border-radius: 0px;
    background-color: brown;
    height: 25px;
    margin-left: 1px;
    width: 106px;
  }
  .whishlist{
    margin-top: -145px;
    border-radius: 0px;
    background-color: white;
    height: 25px;
    margin-left: 1px;
    width: 106px; 
  }
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -52px;
    margin-left: -2px;
    justify-content: space-around;
}
#tag{
    background-color: brown;
    border-radius: 1px;
    height: 26px;
}
.texttag{
    font-size: x-small;
    color: antiquewhite;
}
.whishlistbtn{
    margin-left: 30px;
    margin-top: -2px;
    border-radius: -5px;
    box-shadow: 0px 0px 4px 3px lightgrey;
    height: 24px;
    border-radius: 0px;
}
.whishtext {
    font-size: smaller;
    margin-top: -3px;
}
.cardstyle {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 44px;
  margin-top: 17px;
  margin-left: 169px;
  
    // white-space: nowrap;
    // width: 727px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // height: 548px;
}
.booktext1 {
  margin-block-start: 30px;
  /* margin-right: 122px; */
  margin-inline-start: -71px;
}
.textbutton {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: -16px;
  margin-bottom: -13px;
}
.sorttext {
  font-size: smaller;
  margin-top: -6px;
}
#btn {
  height: 19px;
  box-shadow: 0px 1px 0px 2px lightgrey;
  margin-inline-end: -35px;
}
.appbar2{
  display: flex;
    margin: auto;
}
.paginationnumber{
  display: flex;
    justify-content: center;
    margin-block-start: 40px;
    margin-block-end: 37px;
}
.icon{
  color: black;
}
.appbar-class{
  background-color: brown;
    margin-top: -7px;
    height: 48px;
    width: 103%;
    margin-left: -30px;
}
// .pagination{
//   display: grid;
//   grid-template-columns: 100% 100% 100%;
//   scroll-snap-type: both mandatory;
//   overflow: scroll;

//   border: 2px solid var(--gs0);
//   border-radius: 8px;
// }
.pagination a {
  color: crimson;
  display: inline-block;
  font-size: 1em;
  padding: 2px;
  text-decoration: none;
  border-radius: 16px;
  padding-left: 10px;
}
.pagination {
  padding-inline-start: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 5em;
  margin-block-end: -5em;
}
 .pagination a:hover {
  background:linear-gradient(crimson, deeppink);
  color:white; 
}
.page-item {
  text-align: inherit;
  display: contents;
}
 .pagination a:after {
  content: '';
  padding: 0.3rem;
  display: inline-block;
 } 
 #addbutton {
  display: flex;
  background-color: dodgerblue;
  margin-top: -52px;
  width: 197px;
  height: 25px;
  margin-left: 25px;
}
 .added{
  font-size: x-small;

 }
@media only screen and (max-width: 600px) {
//   .cardstyle {
//     width: 10px;
// }
}